* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #77777775;
}

#header {
    overflow: hidden;
    padding: 20px 10px;
    background-color: gainsboro;
}

#header a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
    padding: 12px;
    border-radius: 7px;
    text-align: center;
    
}

.header-right {
    float: right;
}

#header a.active {
    background-color: blue;
    color: white;
}

#header .title {
    font-size: 25px;
    font-weight: bold;
  }

#checkDark {
    margin-left: 100px;
    width: 0;
    height: 0;
    visibility: hidden;
}

#darkMode {
    position: absolute;
}

#checkDarkLabel {
    width: 100px;
    height: 50px;
    position: relative;
    display: block;
    float: right;
    background-color: rgb(240, 236, 231);
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
}

#checkDarkLabel::after {
    content: '';
    width: 50px;
    height: 45px;
    position: absolute;
    top: 2px;
    left: 2.5px;
    border-radius: 180px;
    background: yellow;
    transition: 0.3s;
}

#checkDark:checked + #checkDarkLabel {
    background-color: #242424;
}

#checkDark:checked + #checkDarkLabel::after {
    left: 93px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}

#checkDarkLabel:active::after {
    width: 70px;
}

.shop .itemList .item img {
    border-radius: 18px;
    height: 170px;
}

.shop .itemList {
    display: flex;
}

.shop .itemList .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    background-color: #ffffff73;
    width: 250px;
    transition: background-color 0.3s, box-shadow 0.5s;
    box-shadow: 5px 5px 12px #252525;
}

.shop .itemList .item:hover {
    /*background-color: aliceblue;*/
    box-shadow: none;
    cursor: pointer;
}

.shop .header {
    font-weight: 700;
    margin: 20px;
}

.shop .itemList .name {
    font-weight: 700;
}

.shop {
    margin-top: 80px;
}

@media screen and (max-width: 730px) {
    #header a {
        text-align: center;
        display: block;
    }

    .header-right {
        float: none;
    }
}

@media screen and (max-width: 1014px) {
    .shop .itemList {
        flex-wrap: wrap;
    }

    .shop .itemList .item {
        width: 100%;
    }
}

.price {
    font-weight: 600;
    position: relative;
    left: 10px;
    bottom: 5.3px;
}