@import "variables.css";

* {
    font-family: sans-serif;
    box-sizing: border-box;
    color: rgb(209, 209, 209);
}

p {
    color: var(--text);
}

a {
    color: var(--text);
}

hr {
    color: var(--overlay);
    border-top: 2px solid;
}

body {
    margin: 0;
    background-color: var(--background);
}

#header {
    overflow: hidden;
    padding: 20px 10px;
    background-color: var(--overlay);
}

#header a {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    padding: 12px;
    border-radius: 7px;
    text-align: center;
}

#footer a {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    padding: 12px;
    border-radius: 7px;
    text-align: center;
}

.header-right {
    float: right;
}

#header a.active {
    background-color: var(--primary);
}

#header a:hover {
    background-color: var(--secoundary);
}

#header .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    
}

#checkDark {
    margin-left: 100px;
    width: 0;
    height: 0;
    visibility: hidden;
}

/*#darkMode {
    position: absolute;
}*/

/*#checkDarkLabel {
    width: 100px;
    height: 50px;
    position: relative;
    display: block;
    float: right;
    background-color: rgb(240, 236, 231);
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
}

#checkDarkLabel::after {
    content: '';
    width: 50px;
    height: 45px;
    position: absolute;
    top: 2px;
    left: 2.5px;
    border-radius: 180px;
    background: yellow;
    transition: 0.3s;
}

#checkDark:checked + #checkDarkLabel {
    background-color: #242424;
}

#checkDark:checked + #checkDarkLabel::after {
    left: 93px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}


#checkDarkLabel:active::after {
    width: 70px;
}*/

.shop .itemList .item img {
    border-radius: 18px;
    height: 170px;
}

.shop .itemList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shop .itemList .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    background-color: var(--overlay);
    width: 250px;
    transition: background-color 0.3s, box-shadow 0.5s;
    box-shadow: 0px 0px 25px -5px var(--primary);
}

.shop .itemList .item:hover {
    background-color: var(--secoundary);
    box-shadow: 0px 0px 5px 1px var(--secoundary);
    cursor: pointer;
}

.shop .header {
    font-weight: 700;
    margin: 20px;
}

.shop .itemList .name {
    font-weight: 700;
}

.shop {
    margin-top: 80px;
}

@media screen and (max-width: 730px) {
    #header a {
        text-align: center;
        display: block;
    }

    .header-right {
        float: none;
    }
}

@media screen and (max-width: 1014px) {
    .shop .itemList {
        flex-wrap: wrap;
    }

    .shop .itemList .item {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    * {
        overflow-x: hidden; 
    }
}

.price {
    font-weight: 600;
    position: relative;
    left: 90px;
    bottom: 26px;
}

#footer {
    position: sticky;
    top: 10px;
    margin-top: 50px;
    background-color: black;
    box-shadow: 0px 0px 15px 10px black;
    height: 270px;
}

#footer #links{
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    float: right;
}

#footer #links li{
    margin: 4px;
}

#headerImpr {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 40px;
}

.shopping-cart:hover {
    background-color: var(--primary);
    animation: box-shadow 0.2s forwards;
}

.shopping-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 3px 2px var(--primary);
    border-radius: 10px;
    transition: all 0.6s;
    height: 35px;
    width: 55px;
    transition: background-color 0.3s;
}

.shopping-cart #imgCart {
    height: 30px;
    width: 30px;
    padding-top: 2px;
}

@keyframes box-shadow {
    50% {
        box-shadow: none;
    }

    100% {
        box-shadow: 2px 2px 3px var(--primary);
    }
}